In [12]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('../data/data.csv')

In [3]:
df.head()

,Timestamp,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USD
0,1676939580000,2023-02-21 00:33:00,BTC/USD,24859.34,24859.34,24859.34,24859.34,0.000000,0.000000
1,1676939520000,2023-02-21 00:32:00,BTC/USD,24821.96,24859.34,24821.96,24859.34,0.103099,2562.977818
2,1676939460000,2023-02-21 00:31:00,BTC/USD,24818.09,24821.96,24815.47,24821.96,0.090640,2249.866178
3,1676939400000,2023-02-21 00:30:00,BTC/USD,24812.25,24818.09,24812.25,24818.09,0.002203,54.681450
4,1676939340000,2023-02-21 00:29:00,BTC/USD,24809.27,24812.25,24809.27,24812.25,0.090675,2249.862431

In [15]:
volume_cols = [c for c in df.columns if re.search('volume', c, flags=re.IGNORECASE)]
ohlc = [c for c in ['Open', 'High', 'Low', 'Close'] if c in df.columns]
columns_to_use = ohlc + [c for c in volume_cols if c not in ohlc]
df = df[columns_to_use]
df

             Open      High       Low     Close  Volume BTC
0        24859.34  24859.34  24859.34  24859.34    0.000000
1        24821.96  24859.34  24821.96  24859.34    0.103099
2        24818.09  24821.96  24815.47  24821.96    0.090640
3        24812.25  24818.09  24812.25  24818.09    0.002203
4        24809.27  24812.25  24809.27  24812.25    0.090675
...           ...       ...       ...       ...         ...
3766758    242.96    242.96    242.96    242.96    0.033491
3766759    242.95    242.96    242.95    242.96    0.010000
3766760    242.95    242.95    242.95    242.95    0.000000
3766761    242.50    242.95    242.50    242.95    0.001000
3766762      0.00    242.50      0.00    242.50    0.050000

[3766763 rows x 5 columns]

In [ ]:
import yfinance as yf

ticker = yf.Ticker("MSFT")
ticker.history(start="2015-01-01", end="2025-12-31", interval="1d")
ticker.history(period="max", interval="1d").to_csv('../data/MSFT.csv')